* {
    margin: 0;
    padding: 0;
}
body font-family: 'Dancing Script', cursive;

.cabecalho {
    background-color: #79241e;
    color: rgb(146, 38, 38);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}